.audio-left{
    width: 20vw;
    height: 5vw;
    background-color: white;
    opacity: 0.75;
    display: flex;
    align-items: center;
    margin-left: 15vw;
}
.audio-right{
    width: 20vw;
    height: 5vw;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-left: 30vw;
}
.img{
    width: 5vw;
    height: 5vw;
    opacity: 1;
}
.img-control{
    width: 2vw;
    height: 2vw;
    padding-left: 1vw;
}
.text-left{
    width: 21vw;
    font-size: medium;
    margin-left: 14vw;
    color: white;
    margin-top: 5vw;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.text-right{
    width: 21vw;
    font-size: medium;
    margin-left: 30vw;
    color: white;
    margin-top: 5vw;
    display: inline-block;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.number{
    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 49vw;
    margin-bottom: 5vh;
}
.circle{
    position: absolute;
    left: 2vw;
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: 2px solid white;
}
.circle:hover{
    width: 2vw;
    height: 2vw;
    left: 1.5vw;
}
.square{
    position: absolute;
    left: 1.75vw;
    width: 1.5vw;
    height: 0.5vw;
    border: 2px solid white;
}
.square:hover{
    width: 3vw;
    height: 2vw;
    left: 1vw;
}
.square-text{
    color: white;
    font-size: xx-small;
    display: none;
}
.audio{
    width: 20vw;
    height: 5vw;
    background-color: white;
    opacity: 0.8;
    display: flex;
    align-items: center;
    margin-left: 40vw;
}
.text-l{
    width: 20vw;
    font-size: medium;
    margin-left: 19vw;
    color: white;
    margin-top: 5vw;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.text-r{
    width: 20vw;
    font-size: medium;
    margin-left: 19vw;
    color: white;
    margin-top: 5vw;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.button{
    width: 7vw;
    height: 3vw;
    line-height: 3vw;
    background-color: #f6d743;
    font: large;
    color: black;
    border-radius: 5%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 30vw;
    margin-top: 5vw;
}
.text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font: xx-large;
    font-weight: bolder;
    margin-top: 5vw;
}
.mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}
.hidden-img{
    position: absolute;
    top: 20vh;
    left: 27.5vw;
    width: 45vw;
    height: 30vw;
}
.close{
    position: absolute;
    top: 15vh;
    left: 75vw;
    width: 2vw;
    height: 2vw;
}
.say-text{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.subject{
    width: 15vw;
    height: 3vw;
    border: white solid 2px;
    background-color: #e9896a;
    margin-left: 15vw;
    margin-top: 5vw;
    display: inline;
    color: white;
    font-size: 1vw;
}
.content{
    width: 50vw;
    height: 15vh;
    border: white solid 2px;
    background-color: #e9896a;
    margin-left: 15vw;
    display: inline;
    margin-top: 5vw;
    color: white;
    font-size: 1vw;
}
.send{
    width: 7vw;
    height: 3vw;
    color: white;
    background-color: #387c6d;
    margin-left: 15vw;
    margin-top: 5vw;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:white;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:white;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:white;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:white; 
}  
textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:white;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:white;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:white;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:white; 
}  
